<header>
  <div><%= link_to "Pote Share", tops_path, class: 'top_name' %></div>
  
  <div class="top_button">
    <span><%= link_to "ログイン", :login_form, class: 'btn1' %></span>
    <span><%= link_to "アカウント登録", :signup, class: 'btn2' %></span>
  </div>
</header>


