<%= form_for(resource, as: resource_name, url: new_user_session_path(resource_name)) do |f| %>
  <div class="user_box_field">
    <span class="box_kotei_moji">必須</span>
    <span><%= f.text_field :name, autofocus: true, autocomplete: "name", :class => 'input_box', placeholder: "名前" %></span>
  </div>

  <div class="user_box_field">
    <span class="box_kotei_moji">必須</span>
    <span><%= f.email_field :email, autofocus: true, autocomplete: "email", :class => 'input_box', placeholder: "メールアドレス" %></span>
  </div>

  <div class="user_box_field">
    <span class="box_kotei_moji">必須</span>
    <span><%= f.password_field :password, autocomplete: "new-password", :class => 'input_box', placeholder: "パスワード" %></span>
  </div>
<% end %>
