.user_edit_ac_title {
  padding-top: 20px;
  // border: 1px solid black;
  font-size: 25px;
}

.user_edit_ac_field {
  display: flex;
  flex-direction: column;
  padding-top: 10px;
  padding-bottom: 10px;
  text-align: center;
  // border: 1px solid black;
}

.user_ac_btn {
  padding-top: 20px;
  padding-bottom: 10px;
}

.ac_btn1 {
  padding: 5px 135px;
  font-size: 18px;
  background-color: #33CCFF;
  border-radius: 8px;
  border: none;
  color: white;
}

.ac_btn2 {
  text-decoration: none;
  padding: 8px 135px;
  font-size: 18px;
  color: #33CCFF;
  border-radius: 8px;
  border: 1px solid black;
  background-color: white;
}